/*Import font from Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*CSS Variables*/
:root {
  --font-family: "Roboto", sans-serif;
  --a-color: rgb(26, 26, 26);
  --clear-font: rgb(255, 255, 255);
  --log-in-back: #2980b9;
  --button: #242424;
  --button-hover: #2d5a70;
}

/*Main CSS*/
html {
  background-image: none;
}

body {
  font-family: var(--font-family);
  margin: 1rem;
}

h2 {
  text-align: left;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--a-color);
}

p {
  padding: 1rem;
}

a:hover {
  color: rgb(76, 150, 215);
}

/*Header Styles*/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteName {
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.siteName img {
  width: 15%;
}

#tools {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tools a {
  font-weight: bolder;
}

/*Login and logout button.*/
.logs {
  background-color: var(--button); 
  color: white; 
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold; 
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  text-transform: uppercase;
}

.logs a:hover {
  background-color: var(--button-hover);
}


/*Navigation Styles*/
nav {
  background-color: black;
  color: var(--clear-font);
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
}

nav a {
  color: var(--clear-font);
}

/*Body Styles*/
.container-delorean {
  position: relative;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.delorean-image {
  width: 100%;
  padding: 0;
  margin: 0;
}

.text-overlay {
  position: absolute;
  top: 4rem;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.603);
  color: black;
  padding: 10px;
}

#button-own img {
  width: 70%;
}

#reviews {
  line-height: 2rem;
}

.container-upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 1rem;
}

.upgrade {
  background-color: rgb(76, 150, 215);
  border: 2px solid #000000;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.upgrade img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.upgrade a {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.upgrade a:hover {
  color: rgb(161, 45, 9);
}

/*Classifications view*/
#inv-display {
  padding: 1rem;
  margin: 1rem;
}

#inv-display h2,
h1 {
  text-align: center;
  text-transform: uppercase;
}

#inv-display li {
  list-style-type: none;
  text-align: center;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px solid black;
  align-content: center;
  margin: 1rem;
}

#inv-display hr {
  width: 80%;
}

/*Vehicles detail pages*/
.vehicle-detail {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}

.vehicle-detail img {
  width: 80%;
  margin: 1rem auto;
}

.vehicle-detail h3 {
  background-color: rgb(221, 219, 219);
  padding: 1rem;
  font-weight: 400;
}

.vehicle-detail h2 {
  padding: 1rem;
}

.vehicle-detail p {
  padding: 1rem;
  line-height: 1.7rem;
  font-size: 1.3rem;
}

#crash-img {
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

/* log in page view*/
.log-in {
  background-color: var(--log-in-back);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: left;
  padding: 1rem;
  margin: 1rem auto;
}

.log-in form {
  margin: 1rem;
  padding: 1rem;
}

.log-in label {
  color: white;
}

.log-in input[type="email"],
.log-in input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.log-in button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.log-in button:hover {
  background-color:var(--button-hover);
}

.log-in a {
  display: block;
  margin-top: 15px;
  color: #020202;
  text-decoration: none;
  font-size: 14px;
}

.log-in a:hover {
  text-decoration: underline;
  color: white;
}

/*Register view page*/
.register-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 1rem auto;
}

.register-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.register-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: var(--button-hover);
}

input:required:invalid,
input:focus:invalid {
  color: red;
}

input:required:valid {
  color: #21618c;
}

.span-css {
  font-size: 0.8rem;
}

/*Management view*/
.mgmt-view {
  display: flex;
  flex-direction: row;
  justify-self: center;
  padding: 0;
  gap: 2rem;
}


.add-link {
  list-style: none;
  line-height: 2rem;
  background-color: var(--button);
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold; 
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
  color: white;
  text-decoration: none;
}

.add-link:hover {
  background-color: var(--button-hover);
  color: white;
}

/*Dropdown design*/
#classificationList, #classification { 
  display: block;
  text-align: center;
  width: 90%; 
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #4A4A4A; 
  background-color: #F1F1F1; 
  border: 2px solid var(--log-in-back); 
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  appearance: none; 
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
  margin: 1rem auto;
}

#classificationList:hover,
#classificationList:focus, #classification:hover, #classification:focus {
  background-color: #E7F3FF;
  border-color: #0056b3;
  outline: none; 
}


#classificationList option {
  font-size: 15px;
  padding: 10px;
  background-color: #FFF; 
  color: #4A4A4A;
}


#classificationList option:checked {
  background-color: var(--log-in-back); 
  color: #FFF; 
}

/*Table in the inventory management design*/
table {
  width: 80%;
  border-collapse: collapse; 
  margin: 1.5rem auto;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: left; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
}


thead th {
  background-color: var(--log-in-back); 
  color: #FFF; 
  font-weight: bold; 
  padding: 1rem; 
}

tbody td {
  padding: 1rem;
}


tbody td a {
  text-decoration: none;
  color: var(--a-color); 
  font-weight: bold;
  transition: color 0.3s ease; 
}

tbody td a:hover {
  color: #ffffff; 
}

.modify {
  background-color: var(--button); 
  color: white; 
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold; 
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.modify:hover {
  background-color: var(--button-hover);
}




/*Add Classification view*/
.add-classification,
.add-inventory,
.edit-inventory, .edit-account, .update-pass {
  background-color: var(--log-in-back);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: left;
  padding: 1rem;
  margin: 1rem auto;
}

.add-classification form,
.add-inventory form,
.edit-inventory form, .edit-account form, .update-pass form {
  margin: 1rem;
  padding: 1rem;
}

.add-classification label,
.add-inventory label,
.edit-inventory label, .edit-account label, .update-pass label {
  color: white;
}

.add-classification input[type="text"],
.add-inventory input[type="text"],
.add-inventory input[type="number"],
.add-inventory select,
.edit-inventory input[type="text"],
.edit-inventory input[type="number"],
.edit-inventory select, .edit-account input[type="text"], .update-pass input[type="password"], .edit-account input[type="email"], #rating {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.add-inventory textarea,
.edit-inventory textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  resize: vertical;
  min-height: 100px;
  background-color: #f9f9f9;
}

.add-inventory textarea:focus,
.edit-inventory textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.add-classification button,
.add-inventory button,
.edit-inventory button, .edit-account button, .update-pass button, #review-form button{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-classification button:hover,
.add-inventory button:hover,
.edit-inventory button:hover, .edit-account button:hover, .update-pass button:hover, #review-form button:hover {
  background-color: var(--button-hover);
}

/*Delete confirmation view*/
.delete-form {
  background-color: #f9f9f9; 
  padding: 1rem; 
  border: 1px solid #ddd; 
  border-radius: 1.5rem; 
  width: 400px; 
  margin: 1rem auto; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.delete-label {
  display: block; 
  margin-bottom: 5px;
  font-weight: bold; 
  color: #555; 
}


.delete-input {
  width: 100%; 
  padding: 8px; 
  margin-bottom: 15px;
  font-size: 16px; 
  color: #333; 
  background-color: #e9ecef; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  cursor: not-allowed; /
}


.deletion-message {
  font-size: 18px; 
  color: #d9534f; 
  font-weight: bold; 
  margin-bottom: 20px; 
}


.delete-button {
  background-color: #d9534f; 
  color: white; 
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold; 
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}


.delete-button:hover {
  background-color: #c9302c;
}

/* Flash messages*/
.notice,
.flash-success,
.flash-error {
  color: #21618c;
  list-style: none;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: opacity 0.3s ease-out; /* Smooth fade effect */
}

/* Reviews design*/
#reviews {
  margin: 20px auto;
  padding: 1rem;
  background-color: rgb(221, 219, 219);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

#reviews h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.review-list {
  list-style: none;
  padding: 2rem;
}

.review-item {
  border-bottom: 1px solid #000000;
  padding: 2rem;
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #555;
}

.review-author {
  font-size: 16px;
}

.review-rating {
  background-color: #ffd700;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #000;
}

.review-comment {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
}

.no-reviews-message {
  text-align: center;
  color: #666;
  font-style: italic;
  margin-top: 15px;
}

#review-form {
  margin-top: 20px;
}

#review-form h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

#review-form label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

#review-form select,
#review-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/*Large view*/
@media screen and (min-width: 600px) {
  html {
    background-image: url(../images/site/checkerboard.jpg);
  }

  body {
    background-color: white;
    max-width: 1200px;
    margin: 1rem auto;
    border: 5px solid rgb(76, 150, 215);
    text-align: center;
    border-radius: 1.5rem;
  }

  h2 {
    text-align: center;
  }

  header {
    padding: 1rem;
  }

  .delorean-image {
    width: 60%;
  }

  #main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  #reviews {
    grid-column: 2/3;
    line-height: 3rem;
    text-align: left;
    padding: 1rem;
  }

  #upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 1rem;
  }

  /*Classifications view*/
  #inv-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /*Vehicle Detail view*/
  .vehicle-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
  }

  .vehicle-title {
    grid-column: 1/3;
  }

  .vehicle-detail img {
    grid-row: 2/7;
    align-self: center;
  }

  .vehicle-detail h2 {
    text-align: center;
  }

  /*Add Vehicle view*/
  .add-inventory, .edit-inventory {
    width: 60%;
  }
}
