<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <p>
      Oof, something went wrong! But don't worry, it's not the end of the world.
    </p>
    <div><%= message %></div>
    <p>
      <em>"404 Error: Can't find what you're looking for? Neither can we."</em>
    </p>
  </main>
</body>
